<!DOCTYPE html>
<html>

<head>
    <title>Ajouter une Publication</title>
</head>

<body>
    <h1>Ajouter une Publication</h1>
    <form method="post">
        <label for="id">ID :</label>
        <input type="text" name="id" id="id">
        <label for="type">Type :</label>
        <input type="text" name="type" id="type">
        <label for="title">Titre :</label>
        <input type="text" name="title" id="title">
        <label for="start_page">Page de Début :</label>
        <input type="number" name="start_page" id="start_page">
        <label for="end_page">Page de Fin :</label>
        <input type="number" name="end_page" id="end_page">
        <label for="year">Année :</label>
        <input type="number" name="year" id="year">
        <label for="booktitle">Livre :</label>
        <input type="text" name="booktitle" id="booktitle">
        <label for="url">URL :</label>
        <input type="text" name="url" id="url">
        <label for="authors">Auteurs (séparés par des virgules) :</label>
        <input type="text" name="authors" id="authors">
        <button type="submit">Ajouter</button>
    </form>
    <a href="{{ url_for('index') }}">Retour à la liste des publications</a>
</body>

</html>